<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post in detail</h1>
    <div class="container">
        <h3 class="name"><%=post.name%></h3>
        <h4 class="content"><%=post.content%></h4>
        <h4 class="content">id : <%=post.id%></h4>
    </div>
    <a href="http://localhost:3000/posts"> click here to see all posts</a>
</body>
</html>